<div class="altura100"></div>
<div class="container">
  <md-card >
    <md-card-header color="primary">
      <div md-card-avatar style="background-image: url('assets/photon.png'); background-size:cover;"></div>
      <md-card-title>Sensor de Nivel de Agua <span *ngIf="status" class="glyphicon glyphicon-ok-sign text-off"></span><span *ngIf="!status" class="glyphicon glyphicon-remove-sign text-danger"></span> </md-card-title>
      <md-card-subtitle>
        <h6 *ngIf="!status" class="text-danger"> Ultima conexión: {{lastH}}</h6>
        <h6 *ngIf="status">A01022029 | A01335167 | A01336386 | A01337828 | A01273322</h6>

      </md-card-subtitle>

    </md-card-header>
    <md-card-content>
      <div *ngIf="formulario">
        <h3>Entradas de Datos.</h3>
        <md-radio-group [(ngModel)]="forma" class="textoVals" (ngModelChange)="eventos()">
          <md-radio-button value="Cilindro">Cilindro</md-radio-button>
          <md-radio-button value="Prisma">Prisma Cuadrangular</md-radio-button>
          <md-radio-button value="Cono">Cono Frustum</md-radio-button>
        </md-radio-group>
        <br>
        <br>
        <br>
        <md-input-container class="tamanoInp">
          <input mdInput type="number" name="sep" (ngModelChange)="eventos()" [(ngModel)]="sep" #name="ngModel" min="1" placeholder="Separación de contactos. (cm)">
        </md-input-container>
        <br>
        <br>
        <div *ngIf="forma=='Prisma'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="lado" (ngModelChange)="eventos()" [(ngModel)]="lado" #name="ngModel" min="1" placeholder="Lado de base. (cm)">
          </md-input-container>
        </div>
        <div *ngIf="forma=='Cono'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam1" (ngModelChange)="eventos()" [(ngModel)]="diam1" #name="ngModel" min="1" placeholder="Diametro menor contenedor. (cm)">
          </md-input-container>
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam2" (ngModelChange)="eventos()" [(ngModel)]="diam2" #name="ngModel" min="1" placeholder="Diametro mayor contenedor. (cm)">
          </md-input-container>
        </div>
        <div *ngIf="forma=='Cilindro'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam" (ngModelChange)="eventos()" [(ngModel)]="diam" #name="ngModel" min="1" placeholder="Diametro contenedor. (cm)">
          </md-input-container>
        </div>
      </div>
      <div *ngIf="!formulario">
        <div class="row">
          <div class="calcs">
            <h3 class="textoVals " *ngIf="status">Volumen calculado: {{vol}} litros.</h3>
            <h3 class="textoVals " *ngIf="!status">Último volumen calculado: {{vol}} litros.</h3>
            <h3 class="textoVals " *ngIf="status" >Nivel actual: {{niv}} litros.</h3>
            <h3 class="textoVals " *ngIf="!status" >Último nivel leído: {{niv}}</h3>
          </div>

        </div>
        <hr>
        <div class="row">
          <h3 >Resumen de Información</h3>
        </div>
        <hr>
        <div [class]="tamCom">
          <md-select class="col-xs-12" placeholder="Formato para análisis de datos" [(ngModel)]="formatoHora" name="formato">
            <md-option value="FechaExacta">Fecha Exacta</md-option>
            <md-option value="Estación">Estación</md-option>
          </md-select>
        </div>
        <div  [class]="tamComR" *ngIf="comp">
          <md-select class="col-xs-12" placeholder="Formato para análisis de datos" [(ngModel)]="formatoHora" name="formato">
            <md-option value="FechaExacta">Fecha Exacta</md-option>
            <md-option value="Estación">Estación</md-option>
          </md-select>
        </div>
        <div>
          <div [class]="tamCom">
            <app-grafica [data]="lineChartData2" [labels]="fechas" [colors]="mezclados"[options]="FechaExOptions" [tipo]='line'></app-grafica>

          </div>
          <div [class]="tamComR" *ngIf="comp">
              <app-grafica [data]="lineChartData" [options]="lineChartOptions1" [labels]="axis" [colors]="azul" [tipo]='line'></app-grafica>
          </div>
        </div>
        <button md-raised-button (click)="comparar(1)" *ngIf="!comp">Comparar</button>
        <button md-raised-button (click)="comparar(0)" *ngIf="comp">Borrar Comparación</button>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-muted">Historial de Volumen</h3>
            <app-grafica [data]="volumenData" [labels]="axis" [colors]="gris" [options]="volumenOptions" [tipo]='line'></app-grafica>
          </div>
          <div class="col-md-12">
            <h3 class="text-muted">Historial de Niveles</h3>
            <app-grafica [data]="nivelesData" [labels]="axis" [options]="nivelesOptions" [colors]="azul" [tipo]='line'></app-grafica>
          </div>
        </div>
        <br>
      </div>
    </md-card-content>
    <md-card-actions>
      <div class="botones">
        <button md-raised-button (click)="formulario=false;" *ngIf="formulario">Ver Info</button>
        <button md-raised-button (click)="formulario=true;" *ngIf="!formulario">Cambiar Entradas.</button>
        <button md-raised-button color="primary" mdTooltip="Ya se está repitiendo cada 5 seg." (click)="infoGeneral()" *ngIf="!status">Reintentar Conexión </button>
        <button md-raised-button color="primary" mdTooltip="Obtención de historial falló, reintenta" (click)="eventos()" *ngIf="!events">Reintentar Historial</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
