.altura100{
  height: 40px;
}
.opciones {
  display: inline-flex;
  flex-direction: column;
}

.tamanoInp{
  width: 33%;
  margin-right: 15px;
}
.calcs{
  padding-left: 15px;
}
.textoVals{
  color:#3b3c3d;
}
.botones{
  display: flex;
  justify-content: center;
}
.division{
  border-right: 1px solid #DDDDDD; 
}
