<div class="altura100"></div>
<div class="container">
  <md-card >
    <md-card-header color="primary">
      <div md-card-avatar style="background-image: url('assets/photon.png'); background-size:cover;"></div>
      <md-card-title>
        Sensor de Nivel de Agua
        <span *ngIf="status" class="glyphicon glyphicon-ok-sign text-succss" mdTooltip="Photon Conectado!!" mdTooltipPosition="above"></span>
        <span *ngIf="!status" class="glyphicon glyphicon-remove-sign text-danger" mdTooltip="Photon Desconectado!!" mdTooltipPosition="above"></span>
        <md-slide-toggle
            color="primary"
            mdTooltip="Gráficas en tiempo real o no?" mdTooltipPosition="above"
            [(ngModel)]="realTime">
        </md-slide-toggle>
       </md-card-title>
      <md-card-subtitle>
        <h6 *ngIf="!status" class="text-danger"> Ultima conexión: {{lastH}}</h6>
        <h6 *ngIf="status">A01022029 | A01335167 | A01336386 | A01337828 | A01273322</h6>

      </md-card-subtitle>

    </md-card-header>
    <md-card-content>
      <div *ngIf="formulario">
        <h3>Entradas de Datos.</h3>
        <md-radio-group [(ngModel)]="forma" class="textoVals" (ngModelChange)="recalc()">
          <md-radio-button value="Cilindro">Cilindro</md-radio-button>
          <md-radio-button value="Prisma">Prisma Cuadrangular</md-radio-button>
          <md-radio-button value="Cono">Cono Frustum</md-radio-button>
        </md-radio-group>
        <br>
        <br>
        <br>
        <md-input-container class="tamanoInp">
          <input mdInput type="number" name="sep" (ngModelChange)="recalc()" [(ngModel)]="sep" #name="ngModel" min="1" placeholder="Separación de contactos. (cm)">
        </md-input-container>
        <br>
        <br>
        <div *ngIf="forma=='Prisma'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="lado" (ngModelChange)="recalc()" [(ngModel)]="lado" #name="ngModel" min="1" placeholder="Lado de base. (cm)">
          </md-input-container>
        </div>
        <div *ngIf="forma=='Cono'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam1" (ngModelChange)="recalc()" [(ngModel)]="diam1" #name="ngModel" min="1" placeholder="Diametro menor contenedor. (cm)">
          </md-input-container>
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam2" (ngModelChange)="recalc()" [(ngModel)]="diam2" #name="ngModel" min="1" placeholder="Diametro mayor contenedor. (cm)">
          </md-input-container>
        </div>
        <div *ngIf="forma=='Cilindro'">
          <md-input-container class="tamanoInp">
            <input mdInput type="number" name="diam" (ngModelChange)="recalc()" [(ngModel)]="diam" #name="ngModel" min="1" placeholder="Diametro contenedor. (cm)">
          </md-input-container>
        </div>
        <md-input-container class="tamanoInp">
          <input mdInput type="number" diabled name="vol" (ngModelChange)="recalc()" [(ngModel)]="vol" #name="ngModel" placeholder="Volumen (litros)">
        </md-input-container>
      </div>
      <div *ngIf="!formulario">
        <div class="row">
          <div class="calcs" mdTooltip="Información puede ser anviada por el photon cada 5 segs pero solo se lee cada 5 segs" mdTooltipPosition="below">
            <h3 class="textoVals " *ngIf="status">Volumen calculado: {{vol}} litros.</h3>
            <h3 class="textoVals " *ngIf="!status">Último volumen calculado: {{vol}} litros.</h3>
            <h3 class="textoVals " *ngIf="status" >Nivel actual: {{niv}}.</h3>
            <h3 class="textoVals " *ngIf="!status" >Último nivel leído: {{niv}}.</h3>
          </div>

        </div>
        <hr>
        <div class="row">
          <h3 class="text-muted calcs">Resumen de Información</h3>
        </div>
        <br>
        <div>
          <md-select class="col-xs-12" placeholder="Formato para análisis de datos" [(ngModel)]="formatoHora" name="formato">
            <md-option value="FechaExacta">Fecha Exacta</md-option>
            <md-option value="RegAño">Cantidad de Registros en el Último Año</md-option>
            <md-option value="RegMes">Cantidad de Registros en el Último Mes</md-option>
            <md-option value="RegSem">Cantidad de Registros en la Última Semana</md-option>
            <md-option value="PromAño">Promedio de Volúmenes en el Último Año</md-option>
            <md-option value="PromMes">Promedio de Volúmenes en el Último Mes</md-option>
            <md-option value="PromSem">Promedio de Volúmenes en la Última Semana</md-option>
          </md-select>
        </div>

        <div>
          <div class="col-xs-12 espacio" *ngIf="formatoHora=='FechaExacta' && actualizar">
            <app-grafica [data]="comparacion" [labels]="fechas" [colors]="mezclados"[options]="FechaExOptions" [tipo]='line'></app-grafica>
          </div>
          <div *ngIf="actualizar">
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='RegAño' && valsA">
              <app-grafica-cuad [data]="valsA" [labels]="meses" [colors]="barraAzul"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='RegMes' && valsM">
              <app-grafica-cuad [data]="valsM" [labels]="semanas" [colors]="barraGris"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='RegSem' && valsS">
              <app-grafica-cuad [data]="valsS" [labels]="dias" [colors]="barraAzul"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='PromAño' && valsA">
              <app-grafica-cuad [data]="promA" [labels]="meses" [colors]="barraRoja"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='PromMes' && valsM">
              <app-grafica-cuad [data]="promM" [labels]="semanas" [colors]="barraVerde"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
            <div class="col-xs-12 espacio" *ngIf="formatoHora=='PromSem' && valsS">
              <app-grafica-cuad [data]="promS" [labels]="dias" [colors]="barraRoja"[options]="BarraOptions" [tipo]='grafVar'></app-grafica-cuad>
            </div>
          </div>

          <hr>
          <div class="row" *ngIf="actualizar">
            <div class="col-xs-12 ">
              <h3 class="text-muted">Historial de Volumen</h3>
              <app-grafica [data]="volumenData" [labels]="fechas" [colors]="gris" [options]="volumenOptions" [tipo]='line'></app-grafica>
            </div>
            <div class="col-xs-12">
              <h3 class="text-muted">Historial de Niveles</h3>
              <app-grafica [data]="nivelesData" [labels]="fechas" [options]="nivelesOptions" [colors]="azul" [tipo]='line'></app-grafica>
            </div>
          </div>
        </div>

        <br>
      </div>
    </md-card-content>
    <md-card-actions>
      <div class="botones">
        <button md-raised-button (click)="formulario=false;" *ngIf="formulario">Ver Info</button>
        <button md-raised-button (click)="formulario=true;" *ngIf="!formulario">Cambiar Entradas.</button>
        <button md-raised-button color="primary" mdTooltip="Ya se está repitiendo cada 5 seg." (click)="infoGeneral()" *ngIf="!status">Reintentar Conexión </button>
        <button md-raised-button color="primary" mdTooltip="Obtención de historial falló, reintenta" (click)="eventos()" *ngIf="!events">Reintentar Historial</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
